body {
  background: url('../img/back.png') 0 0 no-repeat #fefefe;
  background-attachment: fixed;
  padding-top: 30px;
}

.sprites { background: url('../img/sprites.png') no-repeat; }
.next { width: 20px; height: 23px; background-position: -275px 0; }
.prev { width: 20px; height: 23px; background-position: -296px 0; }

h1.logo {
  background: transparent url('../img/sprites.png') no-repeat -26px 0px;
  width: 248px;
  height: 45px;
  text-indent: -9999em;
  display: inline-block;
}
h2#year-holder {
  display: inline-block;
  margin-left: 40px;
}
h2#year-holder a {
  display: inline-block;
}
.page-container { margin-top: 10px; }
.page {
  background-color: rgba(255, 255, 255, 0.8);
}
.calendar-container {}
.calendar-container .month {}
.calendar-container .month .heading, .calendar-container .month .empty, .calendar-container .month .day-container {
  display: inline-block;
  width: 22px;
  text-align: center;
  margin: 0 1px;
}
.calendar-container .month .heading {
  width: 100px;
  text-align: left;
  font-weight: bold;
}
.calendar-container .month .empty {}
.calendar-container .month .day-container {}
.calendar-container .month .day-container .day-label {
  font-size: 8px;
  margin-top: 7px;
}
.calendar-container .month .day-container .day, .calendar-container .month .day-container .weekend {
  border: 1px solid #c3c3c3;
  height: 25px;
  font-size: 11px;
  padding-top: 8px;
}
.calendar-container .month .day-container .day {
  display: block;
  cursor: pointer;
}

.calendar-container .month .day-container .day.leave {
  background: yellow url('../img/sprites.png') -275px -24px no-repeat;
}
.calendar-container .month .day-container .weekend {
  background: #777 url('../img/sprites.png') 0px 0px no-repeat;
}
.calendar-container .month .day-container .holiday {
  background: #bc2e2e url('../img/sprites.png') -301px -24px no-repeat;
}
.calendar-container .month .day-container .period {
  background-color: yellow;
}
.tab-pane { padding: 10px; }
.info-bar { margin: 5px; }
#leave-count, #period-count { font-weight: bold; }

.navbar-fixed-top { min-height: 40px; }
footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #aaa;
}
