body {
  background: url('../img/back.png') 0 0 no-repeat #fefefe;
  background-attachment: fixed;
  padding-top: 30px;
}
h1.logo {
  background: transparent url('../img/logo.png') no-repeat 0px 0px;
  width: 248px;
  height: 45px;
  text-indent: -9999em;
  display: inline-block;
}
h2#year-holder {
  display: inline-block;
  margin-left: 40px;
}
.page-container { margin-top: 10px; }
.page {
  background-color: rgba(255, 255, 255, 0.8);
}
.calendar-container {}
.calendar-container .month {}
.calendar-container .month .heading, .calendar-container .month .empty, .calendar-container .month .day-container {
  display: inline-block;
  width: 22px;
  text-align: center;
  margin: 0 1px;
}
.calendar-container .month .days {
  display: inline-block;
}
.calendar-container .month .heading {
  width: 100px;
  text-align: left;
  font-weight: bold;
}
.calendar-container .month .empty {}
.calendar-container .month .day-container {}
.calendar-container .month .day-container .day-label {
  font-size: 8px;
  margin-top: 7px;
}
.calendar-container .month .day-container .day, .calendar-container .month .day-container .weekend {
  border: 1px solid #c3c3c3;
  height: 25px;
  font-size: 11px;
  padding-top: 8px;
}
.calendar-container .month .day-container .day {
  display: block;
  cursor: pointer;
}
.calendar-container .month .day-container .day.leave {
  -webkit-animation: leave 0.3s;
  -moz-animation: leave 0.3s;
  -ms-animation: leave 0.3s;
  -o-animation: leave 0.3s;
  animation: leave 0.3s;
  background: yellow url('../img/day_free.png') -2px 50% no-repeat;
}
.calendar-container .month .day-container .weekend {
  background-color: #777;
  background-image: url('../img/day_weekend.png');
}
.calendar-container .month .day-container .holiday {
  background-color: #bc2e2e;
  background-image: url('../img/day_holiday.png');
}
.calendar-container .month .day-container .period {
  -webkit-animation: period 0.3s;
  -moz-animation: period 0.3s;
  -ms-animation: period 0.3s;
  -o-animation: period 0.3s;
  animation: period 0.3s;
  background-color: yellow;
}
.tab-pane { padding: 10px; }
.info-bar { margin: 5px; }
#leave-count, #period-count { font-weight: bold; }

.navbar-fixed-top { min-height: 40px; }
footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #aaa;
}

/*
 * Animations
 */

@-webkit-keyframes period {
  0% { background-color: transparent; }
  100% { background-color: yellow; }
}
@-moz-keyframes period {
  0% { background-color: transparent; }
  100% { background-color: yellow; }
}
@-ms-keyframes period {
  0% { background-color: transparent; }
  100% { background-color: yellow; }
}
@-o-keyframes period {
  0% { background-color: transparent; }
  100% { background-color: yellow; }
}
@keyframes period {
  0% { background-color: transparent; }
  100% { background-color: yellow; }
}


@-webkit-keyframes leave {
  0% { background-position-y: -20px; }
  100% { background-position-y: -2px; }
}
@-moz-keyframes leave {
  0% { background-position-y: -20px; }
  100% { background-position-y: -2px; }
}
@-ms-keyframes leave {
  0% { background-position-y: -20px; }
  100% { background-position-y: -2px; }
}
@-o-keyframes leave {
  0% { background-position-y: -20px; }
  100% { background-position-y: -2px; }
}
keyframes leave {
  0% { background-position-y: -20px; }
  100% { background-position-y: -2px; }
}
